# NODE
NODE_ENV=
SESSION_SECRET=

# PostgreSQL Configuration
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_INITDB_ARGS=--encoding=UTF8 --locale=C

# Container Configuration
POSTGRES_CONTAINER_NAME=

# Port Configuration
POSTGRES_PORT=

# Data Storage Configuration
POSTGRES_DATA_PATH=/var/lib/postgresql

# Volume Configuration
POSTGRES_VOLUME_NAME=

# Network Configuration
POSTGRES_NETWORK_NAME=
